.detailsList {
    width: 50%;
    background-color: #eeefee;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.noData {
    text-align : center;
    font-weight : bold;
    font-size: 1rem;
}